# Coffee source files
src/*.coffee

# Test source
test/

# Sourcemap
*.map

# Temporary files
*~

# Misc
.travis.yml

# Grunt build file
Gruntfile.coffee

# Projectile
.projectile

# Coverage files
coverage/

# Coffee lint file
coffeelint.json

# Test file's documentation
docs/*test*.html
